<?xml version="1.0"?>
<launch>

<arg name="map" default="tray" description="map name. Choose between 'cube', 'cylinder', 'floor', 'sphere', 'tray', 'trays', 'avz'" />
<arg name="config" default="$(find-pkg-share rmcl_examples)/config/micp_cpu.yaml" description="path to config file. You can find examples at rmcl_examples/config" />
<arg name="gui" default="false" description="start preconfigured rviz. you can also use the 'rviz.launch' instead." />
<arg name="log_level" default="INFO" description="Log level for debugging purposes. Select from [DEBUG, INFO, WARN, ...]" />

<node_container pkg="rclcpp_components" exec="component_container" name="rmcl_micp" namespace="" output="screen" args="--ros-args --log-level $(var log_level)">
  <composable_node pkg="rmcl_ros" plugin="rmcl::Pc2ToO1DnNode" name="rmcl_velo_conversion">
    <param name="use_sim_time" value="true" />
    <param from="$(var config)" />
    <remap from="cloud" to="/velodyne/points"/>
    <remap from="rmcl_scan" to="/rmcl_inputs/velodyne"/>
  </composable_node>
  <composable_node pkg="rmcl_ros" plugin="rmcl::ScanToScanNode" name="rmcl_sick_conversion">
    <param name="use_sim_time" value="true" />
    <param from="$(var config)" />
    <remap from="scan" to="/scan"/>
    <remap from="rmcl_scan" to="/rmcl_inputs/sick_tim"/>
  </composable_node>
  <composable_node pkg="rmcl_ros" plugin="rmcl::Pc2ToO1DnNode" name="rmcl_xtion_conversion">
    <param name="use_sim_time" value="true" />
    <param from="$(var config)" />
    <remap from="cloud" to="/rgbd_camera/points"/>
    <remap from="rmcl_scan" to="/rmcl_inputs/asus_xtion"/>
  </composable_node>
  <!-- <composable_node pkg="rmcl_ros" plugin="rmcl::MICPLocalizationNode" name="micp_localization">
    <param name="use_sim_time" value="true" />
    <param name="map_file" value="$(find-pkg-share rmcl_examples)/maps/$(var map).dae" />
    <param from="$(var config)" />
    <remap from="pose_wc" to="/initialpose" />
  </composable_node> -->
</node_container>

<group if="$(var gui)">
  <node pkg="rviz2" exec="rviz2" name="rviz2" 
      args="-d $(find-pkg-share rmcl_examples)/rviz/rmcl_micp.rviz">
    <param name="use_sim_time" value="true" />
    <param name="rviz_mesh_tools_plugins.Map3D" value="$(find-pkg-share rmcl_examples)/maps/$(var map).dae" />
  </node>
</group>

</launch>
