<?xml version="1.0"?>
<launch>

<arg name="gui" default="true" description="Start a preconfigured RViz window." />

<node pkg="rmcl_ros" exec="conv_scan_to_scan_node" name="rmcl_scan_to_scan" output="screen">
  <param name="use_sim_time" value="true" />
  <param from="$(find-pkg-share rmcl_examples_conversions)/config/scan_to_scan.yaml" />
  <remap from="input" to="/lidar2d/scan"/>
  <remap from="output" to="~/rmcl_scan"/>
</node>

<group if="$(var gui)">
  <node pkg="rviz2" exec="rviz2" name="rviz2" 
      args="-d $(find-pkg-share rmcl_examples_conversions)/rviz/scan_to_scan.rviz">
      <param name="use_sim_time" value="true" />
  </node>
</group>

</launch>
