<?xml version="1.0"?>
<launch>

<arg name="map" default="tray" description="Map name. Choose between 'cube', 'cylinder', 'corridor', 'sphere', 'tray', 'trays', 'avz'" />
<arg name="gui" default="true" description="Start a preconfigured RViz window." />

<node pkg="rmcl_ros" exec="conv_scan_to_scan_node" name="rmcl_lidar2d_conversion" output="screen">
    <param name="use_sim_time" value="true" />
    <param from="$(find-pkg-share rmcl_examples_micpl)/config/rmcl_micpl_lidar2d.yaml" />
    <remap from="scan" to="/lidar2d/scan"/>
    <remap from="rmcl_scan" to="/rmcl_inputs/lidar2d"/>
</node>

<node pkg="rmcl_ros" exec="micp_localization_node" name="micp_localization" output="screen">
  <param name="use_sim_time" value="true" />
  <param name="map_file" value="$(find-pkg-share rmcl_examples_maps)/maps/$(var map).dae" />
  <param from="$(find-pkg-share rmcl_examples_micpl)/config/rmcl_micpl_lidar2d.yaml" />
</node>

<group if="$(var gui)">
  <node pkg="rviz2" exec="rviz2" name="rviz2" 
      args="-d $(find-pkg-share rmcl_examples_micpl)/rviz/rmcl_micpl_lidar2d.rviz">
      <param name="use_sim_time" value="true" />
      <param name="rviz_mesh_tools_plugins.Map3D" value="$(find-pkg-share rmcl_examples_maps)/maps/$(var map).dae" />
  </node>
</group>

</launch>
